{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": ["**/*.d.tsx"],
      "rules": {
        "@typescript-eslint/no-empty-object-type": "off"
      }
    }
  ]
}
